<!doctype html>
<head th:replace="layout::head">

</head>
<body>
<header class="p-3 bg-dark text-white">
  <div class="container">
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
      <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
        <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"/></svg>
      </a>

      <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0" id="menu">
      </ul>

      <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search">
      </form>
      <div class="text-end">
        <a type="button" class="btn btn-warning" onclick="cerrarSesion()">Cerrar sesión</a>
      </div>
    </div>
  </div>
</header>
<div class="container">
  <div class="container">
    <div class="mt-5 col-md-5 col-sm-12">
      <form id="fRoles">
        <div class="mb-3">
          <input class="form-control" type="text" placeholder="Ingresa el nombre del menu" id="name" required>
        </div>
        <div class="mb-3">
          <input class="form-control" type="text" placeholder="Ingresa la ruta del menu" id="path" required>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
  </div>
</div>

<script>
  if (localStorage.getItem("user") !== null) {
    const menuBar = document.getElementById('menu');
    const h1 = document.getElementById('welcome');
    const menu = JSON.parse(`${localStorage.getItem("menu")}`);
    menu.forEach(item => {
      let option = `<li><a href="/app/${item.path}" class="nav-link px-2 text-white">${item.name}</a></li>`;
      menuBar.innerHTML += option;
    });
  }
  const fRoles = document.getElementById('fRoles');
  fRoles.addEventListener("submit", (evt) => {
    evt.preventDefault();
    let data = {
      name: document.getElementById('name').value,
      path: document.getElementById('path').value
    };

    console.log(data);

    fetch( URL + '/roles', {
      method: 'POST', body: JSON.stringify(data), headers: {'Content-Type': 'application/json'}
    } )
            .then( resp => resp.json() )
            .then( resp => console.log(resp) )
            .catch( resp => alert(resp) );
  });

  const cerrarSesion = () => {
    localStorage.clear();
    window.location = '/app/login';
  };
</script>
</body>
</html>

